<!--
1. Intro Ember.js - yehuda, tom dale etc.,
2. Handlebars.js
3. Data.js
4. Its the statemanager stupid (layout, routes, authentication)
5. Integrate with a rails app
6. Use active_model_serialzers by jose valim (& with mongoid)
7. Here's what the structure looks like
8. Here's a controller, model, view & template
9. Example statemachine for navigation & view state management
10. Demo
11. Questions / Hacking


 -->

<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>reveal.js</title>

		<meta name="description" content="An easy to use CSS 3D slideshow tool for quickly creating good looking HTML presentations.">
		<meta name="author" content="Hakim El Hattab">

		<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/main.css">

		<link rel="stylesheet" href="lib/zenburn.css">
	</head>

	<body>

		<div id="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>Ember.js & Tradegecko</h1>
					<h3 class="inverted">we're (both) just getting started</h3>
					<script>
						// Delicously hacky. Look away.
						if( navigator.userAgent.match( /(iPhone|iPad|iPod|Android)/i ) )
						document.write( '<p style="color: rgba(0,0,0,0.3); text-shadow: none;">('+'Tap to navigate'+')</p>' );
					</script>
				</section>

				<section>
					<section>
					<h2>Who am I?</h2>
					<p>
						CEO & Product guy at Tradegecko - an online sales & supply channel management platform for small to medium independent retailers & wholesalers.
					</p>
				</section>
					<section>
						<h3>Rails 3.2</h3>
						<h3>Ember.js</h3>
						<h3>Mongo</h3>
						<h3>Redis</h3>
						<h2>❤</h2>
					<p>
						<i><small>- <a href="http://tradegecko.com">Tradegecko.com</a> / <a href="http://twitter.com/tradegecko">@tradegecko</a></small></i>
					</p>
					</section>
				</section>

				<!-- Example of nested vertical slides -->
				<section>
					<section>
						<h2>Now, Ember.js</h2>
						<p>
							This guy
						</p>

						<img width="73" height="73" src="http://yehudakatz.com/wp-content/themes/yehuda/images/headshot.png">
						<p> Yehuda Katz </p>
						<p>
							& This guy
						</p>
						<img width="73" height="73" src="https://secure.gravatar.com/avatar/b7e9994e5752b9cec01f83944a99c0a1?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png">
						<p> Tom Dale </p>


					</section>
					<section>
						<h2>Yehuda Katz</h2>
						<p>Works(ed) on these things:</p>
						<ul>
							<li>
								Member of Ruby on Rails core team
							</li>
							<li>
								Lead developer on Merb
							</li>
							<li>
								jQuery core team
							</li>
							<li>
								Sproutcore
							</li>
							<br>
							<h3 style="text-align:center;">He's a clever <del>kat</del> cat</h3>
					</section>

<!-- 					 <section>
						<h2>Basement Level 3</h2>
						<p>That's it, time to go back up.</p>
						<a href="#/2" class="image">
							<img width="178" height="238" src="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png" style="-webkit-transform: rotate(180deg);">
						</a>
					</section> -->
				</section>
				<section>
					<section>
						<h2>Ember.js</h2>
						<blockquote>
						Ember is a JavaScript framework for creating ambitious web applications that eliminates boilerplate and provides a standard application architecture.
						</blockquote>
					</section>
					<section>
						<h2>It's opinionated</h2>
						<p>and as far as I'm concerned, that rocks...</p>
						<ul>
							<li>Bindings</li>
							<pre><code>
MyApp.president = Ember.Object.create
 name: "Barack Obama"
MyApp.country = Ember.Object.create
 presidentNameBinding: "MyApp.president.name"

MyApp.country.get "presidentName"
							</code></pre>
							<li>Computed Properties</li>
							<pre><code>
fullName: Ember.computed(function() {
 return this.get('first_name') + ' ' + this.get('last_name');
}).property('first_name', 'last_name')
</code></pre>
							<li>Auto-updating Templates</li>
							<pre><code>
<\script type="text/x-handlebars">
 President is {{MyApp.president.fullName}}
<\/script>

							</code></pre>
						</ul>
					</section><!-- / -->
				</section>
				<section>
					<h2>Ember.js</h2>
					<ul>
						<li>Ember.js core</li>
						<li>Handlebars.js templating</li>
						<pre><code>
 {{#each contacts}}
  {{contact.name}}
 {{/each}}
						</code></pre>
						<li>Ember.js - data lib</li>
						<li>Ember.js - layout lib</li>
						<li>Ember.js - routemanager lib</li>
					</ul>
				</section>

				<section>
					<section>
					<h2>Ember.js & Rails, in a tree...</h2>

<h4 style="text-align:center">gemfile</h4>

					<pre><code contenteditable>
gem 'ember-rails'
gem 'active_model_serializers'
					</code></pre>

<h4 style="text-align:center">application.js</h4>
					<pre><code>
//= require jquery
//= require jquery_ujs
//
//= require ember-latest
//= require ember-data
//= require ember-routemanager
//= require ember-layout
//= require ember/trade_gecko
					</code></pre>
					</section>
					<section>
						<h3>If you're using MongoID, seriously, this.</h3>
<h4 style="text-align:center">Config/Initializers/Active_model_serializers.rb</h4>
					<pre><code>
Mongoid::Document.send(:include, ActiveModel::SerializerSupport)
Mongoid::Criteria.delegate(:active_model_serializer, :to => :to_a)
					</code></pre>
					</section>

				</section>

				<section>

				<section>
					<h2>Active Model Serializers gem</h2>
					<p>Recommended method of writing an API for ember</p>
					<ol>
						<li>Written by Jose Valim (devise, inherited_resources_ </li>
						<li>Serializers folder</li>
						<li>Shit should be easy</li>
					</ol>
				</section>
				<section>
					<h2>Serializer</h2>
					<pre><code>
class ProductsController < ActionController::Base
 respond_to :json

 def index
  @products = Product.all
  render json: @products
 end
end
</code></pre>



<pre><code>

class ProductSerializer < ActiveModel::Serializer

 attributes :_id, :title, :description, :sku,
            :tax_category, :shipping_category, :created_at,
            :updated_at, :tags_array, :collections_array

 has_many :variants
end

					</code></pre>
				</section>
					<section>
						<h2>API = Winning</h2>
						<p>http://0.0.0.0:3000/products</p>
<pre><code>
{
 _id: "4f5a9927a37c11dcd5000001",
 title: "A test product",
 description: "lorem ipsum dolor",
 sku: null,
 tax_category: null,
 shipping_category: null,
 created_at: "2012-03-10T07:58:34+08:00",
 updated_at: "2012-03-10T07:58:34+08:00",
 tags_array: [ ],
 collections_array: [ ],
 variants: [
  {
   _id: "4f5a9927a37c11dcd5000002",
   color: "asdasda",
   size: null,
   sku: "asdsadasad",
   barcode: null,
   weight: null,
   height: null,
   width: null,
   depth: null,
   track_stock_level: null,
   stock_level: null,
   available_on: null,
   unit_cost: null,
   vendor: null,
   deleted_at: null,
   price: null
  }
 ]
}
</code></pre>
</section>

			</section>

				<section>
					<h2>Structure of an Ember.js app</h2>
					<pre><code>
	- app
	 - assets
	  - javascripts
	   - ember
	    - controllers
	    - helpers
	    - models
	    - views
	    - templates

	- controllers
	- helpers
	- models
	- serializers
	- views

					</code></pre>

				</section>
<section>
				<section>
<h2>Base setup</h2>

<pre><code>
#= require_self
#= require_tree ./lib
#= require_tree ./models
#= require_tree ./controllers
#= require_tree ./views
#= require_tree ./helpers
#= require_tree ./templates
#= require_tree ./states


window.App = Ember.Application.create

App.store = DS.Store.create
 revision: 2
  adapter: DS.RESTAdapter.create
   bulkCommit: false

  </code></pre>
				</section>

				<section>
					<h2>Controllers</h2>
					<pre><code>
App.productsController = Em.ArrayProxy.create
  content: App.store.findAll(App.Product)

  # other code like create, edit, delete goes here

					</code></pre>

				</section>

				<section>
					<h2>Models</h2>
					<pre><code>
App.Product = DS.Model.extend
 primaryKey:         '_id'
 title:              DS.attr 'string'
 description:        DS.attr 'string'
 tax_category:       DS.attr 'string'
 shipping_category:  DS.attr 'string'

 validate: ->
  "Products require a ttle."  if @get("title") is `undefined` or @get("title") is ""

App.Product.reopenClass
 url: "product"



					</code></pre>
				</section>

				<section>
					<h2>Views</h2>
<pre><code>
App.productIndexView = Ember.View.extend
 templateName: "ember/templates/products/index"

 # showNew: (event) ->
 #   event.preventDefault()
 #   @set "isNewVisible", true

 # hideNew: (event) ->
 #   event.preventDefault()
 #   @set "isNewVisible", false

 # refreshListing: ->
 #   App.productsController.findAll()




</code></pre>

				</section>


				<section>
					<h2>Templates</h2>

<pre><code class="xml">

<div {{bindAttr class="activity.type"}}>
  <header>
    <div class="indicator left"></div>
    <div class="avatar left">
      <img {{bindAttr src="activity.user_avatar"}}>
    </div>
    <div class="name left">
      {{activity.user_name}}
    </div>
    <div class="time left">
      {{activity.time}}
    </div>
    <div class="type right">
      {{activity.type}}
    </div>
  </header>
  <div class="content left">
    <p>{{activity.content}}</p>
    <input type="text" placeholder="Comment on this ...">
  </div>
  <div class="clear"></div>
</div>
</code></pre>

				</section>
			</section>

				<section>
				<section>
					<h2>Statemanagers motherfucker,</h2>
					<h2>do you use them?</h2>
					<ul>
						<li>Authentication state</li>
						<li>Navigation state</li>
						<li>View/Layout state</li>
						<li>...capiche?</li>
					</ul>
				</section>

					<section>
					<h2>Statemachine for Navigation</h2>
					<pre><code>

App.routeManager = Em.RouteManager.create
 # We define the rootElement to append to and the initial state to call
 # rootView:     App.mainView
 rootElement:  '#main-wrapper'
 initialState: 'home'

 # Defining base routes through the App.Navstate
 home: App.NavState.create
  selector: ".home"
  route: ""
  view:  App.dashboardsShowView

 inventory: App.NavState.create
  selector: ".inventory"
  route: "inventory" #defines a static route
  view: App.productIndexView
  initialState: 'list'

 	# Defining branch states
  list: App.SubNavState.create
   route: ""
   viewClass: App.productListView

  add: App.SubNavState.create
   route: "add"
   selector: "#add"
   viewClass: App.productAddNewView



					</code></pre>
				</section>
				<section>
						<h2> Statemachine for Authentication</h2>
					<pre><code>
App.statechart = Ember.StateManager.create
 loggedOut: ViewState.create
 loggingIn: ViewState.create
 loggedIn: Ember.StateManager.create
  appLoadFailed: ViewState.create
  appLoading: ViewState.create
  appLoaded: State.create
   enter: ->
    // start up substates

   exit: ->
    // tear down substates


    pushNotifications: Ember.StateManager.create
     pushDisconnected: State.create
     pushConnecting: State.create
     pushConnected: State.create

    displayAppUI: State.create
     enter: ->
      // start up substates

     exit: ->
      // tear down substates

     displayUI: ViewState.create
     displayModals: Ember.StateManager.create
     displayNone: State.create
     displaySettings: ViewState.create
     displayWarning: ViewState.create

    backgroundQueue: Ember.StateManager.create



					</code></pre>

				</section>
				</section>

				<section>
					<h1>DEMO / SHOW & TELL</h1>
				</section>

				<section>
					<h2>Problems?</h2>
					<ul>
						<li>
						  Immature documentation / tutorials
						</li>
						<li>
							Feels weird - App inside an App inside an .....
						</li>
						<li>
							Slow in development (93 JS files in asset pipeline and counting!)
							(Am I missing something?	)
						</li>
					</ul>
				</section>

				<section>
					<h2>THE END</h2>
<br/>

					<h1>Cameron Priest</h1>
					<h2>cameron@tradegecko.com</h2>
					<h2>9157 2491</h2>
				</section>
			</div>

			<!-- The navigational controls UI -->
			<aside class="controls">
				<a class="left" href="#">&#x25C4;</a>
				<a class="right" href="#">&#x25BA;</a>
				<a class="up" href="#">&#x25B2;</a>
				<a class="down" href="#">&#x25BC;</a>
			</aside>

			<!-- Displays presentation progress, max value changes via JS to reflect # of slides -->
			<div class="progress"><span></span></div>

		</div>

		<script src="js/reveal.js"></script>
		<script src="lib/highlight.js"></script>
		<script>
			// Parse the query string into a key/value object
			var query = {};
			location.search.replace( /[A-Z0-9]+?=(\w*)/gi, function(a) {
				query[ a.split( '=' ).shift() ] = a.split( '=' ).pop();
			} );

			Reveal.initialize({
				// Display controls in the bottom right corner
				controls: true,

				// Display a presentation progress bar
				progress: true,

				// If true; each slide will be pushed to the browser history
				history: false,

				// Flags if mouse wheel navigation should be enabled
				mouseWheel: true,

				// Apply a 3D roll to links on hover
				rollingLinks: true,

				// UI style
				theme: query.theme || 'default', // default/neon

				// Transition style
				transition: query.transition || 'default' // default/cube/page/concave/linear(2d)
			});

			hljs.initHighlightingOnLoad();
		</script>

	</body>
</html>